@media (max-width: 768px) {
  .background-img{
    background-size: contain;
    padding: 0;
  }

  .header {
    align-items: baseline;
    margin: 0 0 0 1rem;

    &__nav {
      flex-direction: column;
      align-items: flex-end;
      align-self: center;
      width: auto;
      background-color: rgba(70, 80, 100, .3);
      border-radius: .5rem 0 0 .5rem;

      &--link {
        padding: .5rem .5rem 0;
      }
    }
  }

  .intelig {
    margin: 1rem .5rem;
  }

  .page-headers--intelig {
    font-size: 1.5rem;
  }

  .article {
    margin: .5rem;
    flex-wrap: wrap;

    &__block {
      max-width: none;
    }
  }

  .portfolio {
    margin: 1rem;
    flex-direction: column;

    &__img {
      all: unset;
      margin-bottom: 2rem;

      &--position {
        position: unset;
        transform: rotate(25deg);
      }
    }

    &__block {
      max-width: none;
    }
  }

  .team {

    &__block {
      flex-wrap: wrap;
      justify-content: center;

      &--card {
        margin: 1rem .2rem;
      }
    }
  }

  .footer {
    flex-direction: column;
    &__copy{
      &--info{
        text-align: center;
      }
    }
  }

}
