@mixin headers ($fsz: 1.3rem,
                $ln-hei: 1.3rem,
                $clr: $dim-dark) {
  font-size: $fsz;
  line-height: $ln-hei;
  color: $clr;
}

@mixin headers_def_val ($ff: $Header-montser,
                        $fw: 700,
                        $txt-trans: uppercase,
                        $txt-al: left) {
  font-family: $ff;
  font-weight: $fw;
  text-transform: $txt-trans;
  text-align: $txt-al;
}

@mixin text ($fsz: 0.75rem,
             $ln-hei: 1.3rem,
             $ff: $Main-openSans,
             $clr: $txt-color,
             $txt-al: left) {
  font-family: $ff;
  font-size: $fsz;
  text-align: $txt-al;
  line-height: $ln-hei;
  color: $clr;
}

@mixin link-txt ($clr: $accent,
                 $fsz: 0.7rem,
                 $ff: $Header-montser,
                 $txt-trans: uppercase,
                 $ln-hei: 1rem) {
  font-family: $ff;
  font-size: $fsz;
  text-transform: $txt-trans;
  line-height: $ln-hei;
  color: $clr;
}

@mixin flex ($fd: row,
             $jc:unset,
             $ai:unset) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

