html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }

blockquote, q { quotes: none; }

ol, ul { list-style: none; }

q:before, q:after, blockquote:before, blockquote:after { content: ''; content: none; }

:focus { outline: 0; }

table { border-collapse: collapse; border-spacing: 0; }

ins, a { text-decoration: none; }

del { text-decoration: line-through; }

html, body { font-size: 20px; background-color: #ffffff; }

.background-img { background: url(../src/img/bgi_x1.jpg) top no-repeat; background-size: cover; min-height: 100vh; padding-bottom: 25rem; }

.wrapper { max-width: 50rem; margin: 0 auto; }

.color-accent { color: #f0454c; }

.page-headers { font-size: 1.3rem; line-height: 1.3rem; color: #465065; font-family: "Montserrat", sans-serif; font-weight: 700; text-transform: uppercase; text-align: left; }

.page-headers--logo { font-size: 1rem; font-family: "Domine", serif; font-weight: 700; text-transform: capitalize; text-align: center; }

.page-headers--intelig { font-size: 2.4rem; line-height: 2.51rem; max-width: 25.5rem; }

.page-headers--article { white-space: pre-line; }

.page-headers--portfolio { font-size: 2rem; line-height: 2.3rem; letter-spacing: -0.06rem; }

.page-headers--team { font-size: 1.6rem; letter-spacing: -0.024rem; }

.header { display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin: 0 1rem; }

.header__logo { letter-spacing: .02rem; background-color: #fa5c65; border-radius: 0 0 .5rem .5rem; max-width: 7rem; padding: 2.01rem .7rem .7rem; }

.header__logo--accent { font-size: 1.2rem; color: #314a5b; }

.header__logo--link { color: #ffffff; }

.header__logo:hover { background-color: #f0454c; }

.header__nav { display: flex; flex-direction: row; justify-content: space-between; align-items: center; width: 100%; max-width: 22.51rem; }

.header__nav--link { font-family: "Montserrat", sans-serif; font-size: 0.7rem; text-transform: uppercase; line-height: 1rem; color: #263742; }

.header__nav--link:hover { color: #fa5c65; filter: drop-shadow(0 0 0.2rem #c00c00); }

.header__nav--img { max-height: .9rem; }

.intelig { margin: 9rem 1rem 0; }

.intelig__par { font-family: "Open Sans", sans-serif; font-size: 1rem; text-align: left; line-height: 1.3rem; color: #314a5b; margin: 1.3rem 0 3.2rem; }

.intelig__button { font-family: "Open Sans", sans-serif; font-size: 0.75rem; text-transform: uppercase; line-height: 1rem; color: #ffffff; background-color: #fa5c65; border-radius: .3rem; padding: 1.2rem 2.1rem; }

.article { display: flex; flex-direction: row; justify-content: space-between; align-items: unset; margin-top: 4.3rem; }

.article__block { max-width: 13rem; margin: .5rem; }

.article__block--par { font-family: "Open Sans", sans-serif; font-size: 0.75rem; text-align: justify; line-height: 1.3rem; color: #9aa0ab; margin: 1.3rem 0; }

.article__block--link { font-family: "Montserrat", sans-serif; font-size: 0.7rem; text-transform: uppercase; line-height: 1rem; color: #f0454c; }

.portfolio { display: flex; flex-direction: row; justify-content: unset; align-items: center; margin: 5rem 0; }

.portfolio__img { overflow: hidden; width: 100%; max-width: 20.3rem; margin-right: 4rem; }

.portfolio__img--position { position: relative; left: -6rem; }

.portfolio__block { max-width: 18rem; }

.portfolio__block--sub-head { font-family: "Open Sans", sans-serif; font-size: 0.8rem; text-align: left; line-height: 1rem; color: #314a5b; margin: .85rem 0 1.5rem; }

.portfolio__block--par { font-family: "Open Sans", sans-serif; font-size: 0.75rem; text-align: left; line-height: 1.3rem; color: #9aa0ab; margin-bottom: 1.5rem; }

.team { margin: .5rem; }

.team__head--par { font-family: "Open Sans", sans-serif; font-size: 0.75rem; text-align: left; line-height: 1.3rem; color: #9aa0ab; margin: .8rem 0 2rem; }

.team__block { display: flex; flex-direction: row; justify-content: unset; align-items: unset; }

.team__block--card { margin-right: 1rem; max-width: 16rem; }

.team__block--img { float: left; margin-right: 1rem; }

.team__block--profession { font-family: "Open Sans", sans-serif; font-size: 0.75rem; text-align: left; line-height: 1.3rem; color: #f0454c; margin: .5rem 0 .7rem; }

.team__block--par { font-family: "Open Sans", sans-serif; font-size: 0.75rem; text-align: left; line-height: 1.3rem; color: #9aa0ab; }

.team__block--more { text-align: right; margin: 2.3rem 1rem 3rem; }

.footer { display: flex; flex-direction: row; justify-content: space-between; align-items: center; border-top: 1px solid #e6eaed; padding: 1.5rem 0 2.2rem; }

.footer__icon { height: 100%; max-height: .9rem; }

.footer__icon--social { margin-right: 1.1rem; }

.footer__icon--social:hover { filter: drop-shadow(0 0 0.3rem #f0454c); }

.footer__copy { margin-right: 1rem; }

.footer__copy--info { font-family: "Open Sans", sans-serif; font-size: 0.65rem; text-align: left; line-height: 1.3rem; color: #b9c0c6; }

@media (max-width: 768px) { .background-img { background-size: contain; padding: 0; }
  .header { align-items: baseline; margin: 0 0 0 1rem; }
  .header__nav { flex-direction: column; align-items: flex-end; align-self: center; width: auto; background-color: rgba(70, 80, 100, 0.3); border-radius: .5rem 0 0 .5rem; }
  .header__nav--link { padding: .5rem .5rem 0; }
  .intelig { margin: 1rem .5rem; }
  .page-headers--intelig { font-size: 1.5rem; }
  .article { margin: .5rem; flex-wrap: wrap; }
  .article__block { max-width: none; }
  .portfolio { margin: 1rem; flex-direction: column; }
  .portfolio__img { all: unset; margin-bottom: 2rem; }
  .portfolio__img--position { position: unset; transform: rotate(25deg); }
  .portfolio__block { max-width: none; }
  .team__block { flex-wrap: wrap; justify-content: center; }
  .team__block--card { margin: 1rem .2rem; }
  .footer { flex-direction: column; }
  .footer__copy--info { text-align: center; } }

/*# sourceMappingURL=main.css.map */
